In [1]:
import pandas as pd
import numpy as np

In [2]:
#loading batting file
file = "baseball data/baseballdatabank-2019.2/core/Batting.csv"
statdf = pd.read_csv(file)

In [3]:
#cleaning up dataset to only include players with at least 200 ABs
statdf = statdf.dropna()
statdf = statdf.loc[statdf['AB']>=200, :]
statdf.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
37464,aaronha01,1955,1,ML1,NL,153,602,105,189,37,...,106.0,3.0,1.0,49,61.0,5.0,3.0,7.0,4.0,20.0
37467,abramca01,1955,1,BAL,AL,118,309,56,75,12,...,32.0,2.0,8.0,89,69.0,2.0,3.0,3.0,3.0,6.0
37470,adcocjo01,1955,1,ML1,NL,84,288,40,76,14,...,45.0,0.0,2.0,31,44.0,3.0,2.0,2.0,1.0,13.0
37477,amorosa01,1955,1,BRO,NL,119,388,59,96,16,...,51.0,10.0,5.0,55,45.0,5.0,6.0,2.0,4.0,8.0
37482,ashburi01,1955,1,PHI,NL,140,533,91,180,32,...,42.0,12.0,10.0,105,36.0,5.0,3.0,2.0,1.0,3.0

In [4]:
#organizing dataset by player & year
dfplayer = statdf.groupby(['playerID','yearID']).sum()
dfplayer.head()

                  stint    G   AB    R    H  2B  3B  HR    RBI   SB   CS  BB  \
playerID  yearID
aaronha01 1955        1  153  602  105  189  37   9  27  106.0  3.0  1.0  49
          1956        1  153  609  106  200  34  14  26   92.0  2.0  4.0  37
          1957        1  151  615  118  198  27   6  44  132.0  1.0  1.0  57
          1958        1  153  601  109  196  34   4  30   95.0  4.0  1.0  59
          1959        1  154  629  116  223  46   7  39  123.0  8.0  0.0  51

                    SO   IBB  HBP   SH   SF  GIDP
playerID  yearID
aaronha01 1955    61.0   5.0  3.0  7.0  4.0  20.0
          1956    54.0   6.0  2.0  5.0  7.0  21.0
          1957    58.0  15.0  0.0  0.0  3.0  13.0
          1958    49.0  16.0  1.0  0.0  3.0  21.0
          1959    54.0  17.0  4.0  0.0  9.0  19.0

In [5]:
#loading player info dataset
file = "baseball data/baseballdatabank-2019.2/core/People.csv"
persondf = pd.read_csv(file)
persondf.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [6]:
#grabbing birthyear from player info dataset
persondf = persondf[['playerID','birthYear']]
persondf.head()

    playerID  birthYear
0  aardsda01     1981.0
1  aaronha01     1934.0
2  aaronto01     1939.0
3   aasedo01     1954.0
4   abadan01     1972.0

In [7]:
#checking datatype of playerID column
statdf.playerID

37464     aaronha01
37467     abramca01
37470     adcocjo01
37477     amorosa01
37482     ashburi01
37483     astrojo01
37484     atwelto01
37485     avilabo01
37489     bakerge02
37490     bankser01
37493     bauerha01
37495     baumhfr01
37499      bellgu01
37501     berrayo01
37513     blaylma01
37517     boonera01
37524     boyerke01
37532     brutobi01
37538     burgesm01
37542     busbyji01
37546     camparo01
37547     careyan01
37548     carrach01
37557     chitiha01
37561     clemero01
37568      coledi01
37573     collijo01
37582     courtcl01
37587     crandde01
37590     crowege01
            ...
105677    suzukku01
105678    swansda01
105691    tayloch03
105692    taylomi02
105699    thameer01
105711    torregl01
105716    travide01
105723    troutmi01
105724    trumbma01
105735    turneju01
105736    turnetr01
105738    uptonju01
105746    valbulu01
105749    valenda01
105758    vazquch01
105770    villach01
105771    villajo01
105772    villajo01
105782    vottojo01
105790    walkene01
105804    wendljo01
105807    whitety01
105811    wietema01
105818    willini01
105826    winkeje01
105833     wongko01
105847    yelicch01
105858    zimmery01
105859    zobribe01
105860    zuninmi01
Name: playerID, Length: 17186, dtype: object

In [8]:
#merging dataframes on playerID
maindf = pd.merge(persondf, statdf, on='playerID', how='right')
maindf.head()

,playerID,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aaronha01,1934.0,1955,1,ML1,NL,153,602,105,189,...,106.0,3.0,1.0,49,61.0,5.0,3.0,7.0,4.0,20.0
1,aaronha01,1934.0,1956,1,ML1,NL,153,609,106,200,...,92.0,2.0,4.0,37,54.0,6.0,2.0,5.0,7.0,21.0
2,aaronha01,1934.0,1957,1,ML1,NL,151,615,118,198,...,132.0,1.0,1.0,57,58.0,15.0,0.0,0.0,3.0,13.0
3,aaronha01,1934.0,1958,1,ML1,NL,153,601,109,196,...,95.0,4.0,1.0,59,49.0,16.0,1.0,0.0,3.0,21.0
4,aaronha01,1934.0,1959,1,ML1,NL,154,629,116,223,...,123.0,8.0,0.0,51,54.0,17.0,4.0,0.0,9.0,19.0

In [9]:
#fixing datatypes in order to do calculations
maindf['yearID'] = maindf.yearID.astype('float64')
maindf['birthYear'] = maindf.birthYear.astype('float64')
maindf = maindf.astype({'AB' : 'float64','H' : 'float64','2B' : 'float64','3B' : 'float64','HR' : 'float64',})

In [10]:
#calculating age, batting average, slugging, and isolated power
maindf['age'] = maindf['yearID'] - maindf['birthYear']
maindf['SLG'] = (maindf['H'] + (2*maindf['2B']) + (3*maindf['3B']) + (4*maindf['HR']))/maindf['AB']
maindf['AVG'] = maindf['H'] / maindf['AB']
maindf['ISO'] = maindf['SLG'] - maindf['AVG']
maindf.head()

,playerID,birthYear,yearID,stint,teamID,lgID,G,AB,R,H,...,SO,IBB,HBP,SH,SF,GIDP,age,SLG,AVG,ISO
0,aaronha01,1934.0,1955.0,1,ML1,NL,153,602.0,105,189.0,...,61.0,5.0,3.0,7.0,4.0,20.0,21.0,0.661130,0.313953,0.347176
1,aaronha01,1934.0,1956.0,1,ML1,NL,153,609.0,106,200.0,...,54.0,6.0,2.0,5.0,7.0,21.0,22.0,0.679803,0.328407,0.351396
2,aaronha01,1934.0,1957.0,1,ML1,NL,151,615.0,118,198.0,...,58.0,15.0,0.0,0.0,3.0,13.0,23.0,0.725203,0.321951,0.403252
3,aaronha01,1934.0,1958.0,1,ML1,NL,153,601.0,109,196.0,...,49.0,16.0,1.0,0.0,3.0,21.0,24.0,0.658902,0.326123,0.332779
4,aaronha01,1934.0,1959.0,1,ML1,NL,154,629.0,116,223.0,...,54.0,17.0,4.0,0.0,9.0,19.0,25.0,0.782194,0.354531,0.427663

In [11]:
#dropping birthyear to be replaced by age
maindf = maindf.drop(columns ='birthYear')
maindf.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SO,IBB,HBP,SH,SF,GIDP,age,SLG,AVG,ISO
0,aaronha01,1955.0,1,ML1,NL,153,602.0,105,189.0,37.0,...,61.0,5.0,3.0,7.0,4.0,20.0,21.0,0.661130,0.313953,0.347176
1,aaronha01,1956.0,1,ML1,NL,153,609.0,106,200.0,34.0,...,54.0,6.0,2.0,5.0,7.0,21.0,22.0,0.679803,0.328407,0.351396
2,aaronha01,1957.0,1,ML1,NL,151,615.0,118,198.0,27.0,...,58.0,15.0,0.0,0.0,3.0,13.0,23.0,0.725203,0.321951,0.403252
3,aaronha01,1958.0,1,ML1,NL,153,601.0,109,196.0,34.0,...,49.0,16.0,1.0,0.0,3.0,21.0,24.0,0.658902,0.326123,0.332779
4,aaronha01,1959.0,1,ML1,NL,154,629.0,116,223.0,46.0,...,54.0,17.0,4.0,0.0,9.0,19.0,25.0,0.782194,0.354531,0.427663

In [12]:
#saving new dataframe 
maindf.to_csv('baseball data/player_stats.csv')

In [14]:
#opening fielding data
file = "baseball data/baseballdatabank-2019.2/core/Fielding.csv"
fieldf = pd.read_csv(file)

In [16]:
fieldf

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,abercda01,1871,1,TRO,NaN,SS,1,1.0,24.0,1,3,2.0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,2B,22,22.0,606.0,67,72,42.0,5,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NaN,SS,3,3.0,96.0,8,14,7.0,0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,CL1,NaN,2B,2,0.0,18.0,1,4,0.0,0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,CL1,NaN,OF,29,29.0,729.0,51,3,7.0,1,NaN,NaN,NaN,NaN,NaN
5,allisdo01,1871,1,WS3,NaN,C,27,27.0,681.0,68,15,20.0,4,18.0,NaN,0.0,0.0,NaN
6,ansonca01,1871,1,RC1,NaN,1B,1,0.0,15.0,7,0,0.0,0,NaN,NaN,NaN,NaN,NaN
7,ansonca01,1871,1,RC1,NaN,2B,2,1.0,30.0,3,4,1.0,0,NaN,NaN,NaN,NaN,NaN
8,ansonca01,1871,1,RC1,NaN,3B,20,19.0,555.0,38,52,28.0,2,NaN,NaN,NaN,NaN,NaN
9,ansonca01,1871,1,RC1,NaN,C,5,4.0,93.0,10,0,8.0,0,7.0,NaN,0.0,0.0,NaN
10,ansonca01,1871,1,RC1,NaN,OF,1,1.0,6.0,0,0,0.0,0,NaN,NaN,NaN,NaN,NaN
11,armstbo01,1871,1,FW1,NaN,OF,12,12.0,345.0,29,2,7.0,0,NaN,NaN,NaN,NaN,NaN
12,barkeal01,1871,1,RC1,NaN,OF,1,1.0,27.0,2,0,0.0,0,NaN,NaN,NaN,NaN,NaN
13,barnero01,1871,1,BS1,NaN,2B,16,16.0,441.0,42,61,15.0,10,NaN,NaN,NaN,NaN,NaN
14,barnero01,1871,1,BS1,NaN,SS,15,15.0,420.0,44,64,21.0,3,NaN,NaN,NaN,NaN,NaN
15,barrebi01,1871,1,FW1,NaN,3B,1,1.0,6.0,1,0,0.0,0,NaN,NaN,NaN,NaN,NaN
16,barrebi01,1871,1,FW1,NaN,C,1,0.0,33.0,8,0,0.0,0,0.0,NaN,0.0,0.0,NaN
17,barrofr01,1871,1,BS1,NaN,2B,1,1.0,12.0,2,0,1.0,0,NaN,NaN,NaN,NaN,NaN
18,barrofr01,1871,1,BS1,NaN,OF,17,16.0,441.0,28,1,6.0,0,NaN,NaN,NaN,NaN,NaN
19,bassjo01,1871,1,CL1,NaN,C,1,0.0,18.0,4,0,1.0,0,3.0,NaN,0.0,0.0,NaN
20,bassjo01,1871,1,CL1,NaN,SS,22,22.0,582.0,41,61,29.0,3,NaN,NaN,NaN,NaN,NaN
21,battijo01,1871,1,CL1,NaN,OF,1,1.0,21.0,1,0,0.0,0,NaN,NaN,NaN,NaN,NaN
22,bealsto01,1871,1,WS3,NaN,2B,2,2.0,57.0,9,7,0.0,1,NaN,NaN,NaN,NaN,NaN
23,bealsto01,1871,1,WS3,NaN,OF,8,8.0,249.0,20,1,6.0,0,NaN,NaN,NaN,NaN,NaN
24,beaveed01,1871,1,TRO,NaN,2B,3,3.0,81.0,8,10,4.0,2,NaN,NaN,NaN,NaN,NaN
25,bechtge01,1871,1,PH1,NaN,3B,3,2.0,48.0,3,3,2.0,0,NaN,NaN,NaN,NaN,NaN
26,bechtge01,1871,1,PH1,NaN,OF,15,14.0,369.0,21,2,5.0,1,NaN,NaN,NaN,NaN,NaN
27,bechtge01,1871,1,PH1,NaN,P,3,3.0,78.0,1,7,0.0,0,NaN,NaN,NaN,NaN,NaN
28,bellast01,1871,1,TRO,NaN,3B,28,28.0,717.0,48,49,39.0,4,NaN,NaN,NaN,NaN,NaN
29,bellast01,1871,1,TRO,NaN,SS,1,1.0,21.0,1,4,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140891,wongko01,2018,1,SLN,NL,2B,119,98.0,2690.0,165,306,9.0,73,NaN,NaN,NaN,NaN,NaN
140892,woodal02,2018,1,LAN,NL,P,33,27.0,455.0,3,14,3.0,1,NaN,NaN,NaN,NaN,NaN
140893,woodbl01,2018,1,LAA,AL,P,13,0.0,35.0,1,1,0.0,0,NaN,NaN,NaN,NaN,NaN
140894,woodhu01,2018,1,TBA,AL,P,29,8.0,123.0,1,7,0.0,0,NaN,NaN,NaN,NaN,NaN
140895,woodrbr01,2018,1,MIL,NL,P,19,4.0,127.0,4,5,1.0,1,NaN,NaN,NaN,NaN,NaN
140896,workmbr01,2018,1,BOS,AL,P,43,0.0,124.0,6,3,0.0,0,NaN,NaN,NaN,NaN,NaN
140897,wrighda03,2018,1,NYN,NL,3B,1,1.0,12.0,0,1,0.0,0,NaN,NaN,NaN,NaN,NaN
140898,wrighky01,2018,1,ATL,NL,P,4,0.0,18.0,1,0,0.0,0,NaN,NaN,NaN,NaN,NaN
140899,wrighmi01,2018,1,BAL,AL,P,48,2.0,253.0,5,8,1.0,2,NaN,NaN,NaN,NaN,NaN
140900,wrighst01,2018,1,BOS,AL,P,20,4.0,161.0,1,9,0.0,0,NaN,NaN,NaN,NaN,NaN
140901,wynnsau01,2018,1,BAL,AL,C,41,33.0,901.0,257,26,1.0,3,3.0,NaN,15.0,7.0,NaN
140902,yacabji01,2018,1,BAL,AL,P,12,7.0,120.0,2,3,0.0,1,NaN,NaN,NaN,NaN,NaN
140903,yarbrry01,2018,1,TBA,AL,P,38,6.0,442.0,6,16,0.0,2,NaN,NaN,NaN,NaN,NaN
140904,yateski01,2018,1,SDN,NL,P,65,0.0,189.0,0,4,1.0,0,NaN,NaN,NaN,NaN,NaN
140905,yelicch01,2018,1,MIL,NL,OF,145,144.0,3807.0,266,4,3.0,1,NaN,NaN,NaN,NaN,NaN
140906,youngch04,2018,1,LAA,AL,OF,48,31.0,882.0,56,2,1.0,0,NaN,NaN,NaN,NaN,NaN
140907,younger03,2018,1,LAA,AL,OF,37,30.0,822.0,69,4,1.0,2,NaN,NaN,NaN,NaN,NaN
140908,zagunma01,2018,1,CHN,NL,OF,1,0.0,9.0,2,0,0.0,0,NaN,NaN,NaN,NaN,NaN
140909,zagurmi01,2018,1,MIL,NL,P,2,0.0,3.0,0,0,0.0,0,NaN,NaN,NaN,NaN,NaN
140910,zamorda01,2018,1,NYN,NL,P,16,0.0,27.0,0,2,0.0,0,NaN,NaN,NaN,NaN,NaN
140911,zastrro01,2018,1,CHN,NL,P,6,0.0,17.0,1,2,0.0,0,NaN,NaN,NaN,NaN,NaN
140912,zieglbr01,2018,1,MIA,NL,P,53,0.0,156.0,4,16,1.0,2,NaN,NaN,NaN,NaN,NaN
140913,zieglbr01,2018,2,ARI,NL,P,29,0.0,65.0,0,5,0.0,0,NaN,NaN,NaN,NaN,NaN
140914,zimmebr01,2018,1,CLE,AL,OF,34,29.0,814.0,82,4,0.0,1,NaN,NaN,NaN,NaN,NaN
140915,zimmejo02,2018,1,DET,AL,P,25,25.0,394.0,9,21,0.0,1,NaN,NaN,NaN,NaN,NaN
140916,zimmery01,2018,1,WAS,NL,1B,73,72.0,1861.0,538,39,2.0,41,NaN,NaN,NaN,NaN,NaN
140917,zobribe01,2018,1,CHN,NL,1B,4,3.0,65.0,18,2,0.0,1,NaN,NaN,NaN,NaN,NaN
140918,zobribe01,2018,1,CHN,NL,2B,63,42.0,1187.0,84,122,0.0,34,NaN,NaN,NaN,NaN,NaN
140919,zobribe01,2018,1,CHN,NL,OF,84,62.0,1670.0,127,2,1.0,1,NaN,NaN,NaN,NaN,NaN
140920,zuninmi01,2018,1,SEA,AL,C,111,101.0,2765.0,880,43,2.0,5,10.0,NaN,34.0,18.0,NaN