In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
file = "baseball data/player_stats.csv"

In [3]:
df = pd.read_csv(file)
df = df.drop(columns ='Unnamed: 0')
df.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SO,IBB,HBP,SH,SF,GIDP,age,SLG,AVG,ISO
0,aaronha01,1955.0,1,ML1,NL,153,602.0,105,189.0,37.0,...,61.0,5.0,3.0,7.0,4.0,20.0,21.0,0.661130,0.313953,0.347176
1,aaronha01,1956.0,1,ML1,NL,153,609.0,106,200.0,34.0,...,54.0,6.0,2.0,5.0,7.0,21.0,22.0,0.679803,0.328407,0.351396
2,aaronha01,1957.0,1,ML1,NL,151,615.0,118,198.0,27.0,...,58.0,15.0,0.0,0.0,3.0,13.0,23.0,0.725203,0.321951,0.403252
3,aaronha01,1958.0,1,ML1,NL,153,601.0,109,196.0,34.0,...,49.0,16.0,1.0,0.0,3.0,21.0,24.0,0.658902,0.326123,0.332779
4,aaronha01,1959.0,1,ML1,NL,154,629.0,116,223.0,46.0,...,54.0,17.0,4.0,0.0,9.0,19.0,25.0,0.782194,0.354531,0.427663

In [4]:
df.columns.values

array(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R',
       'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP',
       'SH', 'SF', 'GIDP', 'age', 'SLG', 'AVG', 'ISO'], dtype=object)